html, body {
  margin: 0;
  padding: 0;
  
  
  
}

body{
  text-align: center;
  font-family: "Edu NSW ACT Foundation", cursive;

 
  color:#B5E48C;
  background-image: linear-gradient(#03737A, #052F5F);
  font-size: larger;
  font-weight: bold;
 
  
}
input{

 background-color: #052B56;
 color: #B5E48C;
 border-radius: 20%;
 width:500px;
 text-align: center;
 font-family: "Edu NSW ACT Foundation", cursive;
 font-weight: bold;
 animation:pLoad 500ms;

 
}
h4{
animation: pLoad 500ms ;


}

h2{
animation:pLoad 500ms ;

}

button{
  background-color:#184E77;
  width:75%;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: large;
  color:#B5E48C;
  font-weight: bold;
  margin: 1%;
  align-items: center;
  justify-content: center;
  animation: pLoad 500ms ;
  height: 50px;
  font-size: 30px;


}

button:hover{
  background-color: #052B56;
  color:#03737A





}

p{
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-weight: bold;
  animation: pLoad 500ms;
}
@keyframes pLoad{

  0%{
    transform:translateY(-100%);
    opacity:0;
    rotate: 0deg;
    transform: scale(-100%);
  }

  100%{
    transfrom:translateY(0);
    opacity:1;
    rotate: 360deg;
    transform: scale(100%);
  }
  
    
}

img{
animation: pLoad 500ms ;


}

iframe{
animation:pLoad 500ms ;
filter: grayscale(-200%);


}

